<%= form_for(@invisalign_tracker) do |f| %>
  <% if @invisalign_tracker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invisalign_tracker.errors.count, "error") %> prohibited this invisalign_tracker from being saved:</h2>

      <ul>
      <% @invisalign_tracker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :in %><br>
    <%= f.datetime_select :in %>
  </div>
  <div class="field">
    <%= f.label :out %><br>
    <%= f.datetime_select :out %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.text_field :duration %>
  </div>
  <div class="field">
    <%= f.label :daynumber %><br>
    <%= f.text_field :daynumber %>
  </div>
  <div class="field">
    <%= f.label :tracker_id %><br>
    <%= f.text_field :tracker_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
